* {
    font-family: "Oxygen", sans-serif;
}

button {
    font-family: "Crimson Text", serif;
}

h5 {
    font-size: 21px;
    font-family: "Crimson Text", serif;
}

h2 {
    font-family: "Crimson Text", serif;
}

nav {
    background-image: url('media/header.jpg');
    height: 250px;
    background-attachment: fixed;
    background-position:top;
    background-size: 75%;
}

.navbar-brand {
    margin-left: 80px;
    font-size: 50px;
    font-family: "Crimson Text", serif;
}

.white {
    background: rgb(52, 52, 52);
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: #565555;
    border-radius: 20px;
    width: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

.card {
    padding: 3px;
}